@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  @apply h-full flex flex-col justify-between
}

.underline-animation {
  display: inline-block;
  position: relative;
}

.underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  @apply bg-asce-aux;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}