@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}

.underline-animation {
  display: inline-block;
  position: relative;
}

.underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  @apply bg-teal-600;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.pink-logo {
  filter: invert(11%) sepia(42%) saturate(6952%) hue-rotate(332deg) brightness(103%) contrast(96%);
}
